@charset "UTF-8";
/// <reference path="../barnsley-council.scss" />

/**
 *
 * ACCREDITATION
 * 
 * To be determined.
 *
 */

/*div*/.accreditation {

	// default mobile styles
	padding: $padding--normal;

	// tablet styles
	@media screen and (min-width: $breakpoint--tablet) {
		padding: $padding--normal * 2;
	}

}

/*div*/.accreditation--dark {

	// default mobile styles
	background: $color--darkest;

}

/*div*/.accreditation--primary {

	// default mobile styles
	background: $color--primary;

}

/*ul*/.accreditation__list {

	// default mobile styles
	display: table;
	table-layout: fixed;
	width: 100%;

}

/*li*/.accreditation__item {

	// default mobile styles
	display: table-cell;
	width: 5%;
	text-align: center;
	vertical-align: middle;


}

/*a*/.accreditation__link {

	// default mobile styles
	text-decoration: none;

}

/*img*/.accreditation__image {

	// default mobile styles

}