@charset "UTF-8";
/// <reference path="../barnsley-council.scss" />

/**
 *
 * BASKET
 * 
 * To be determined.
 *
 */

.basket {

	// Default mobile styles


}

.basket__content {

	// Default mobile styles
	text-align: center;	

}

.basket__actions {
	
	// Default mobile styles
	text-align: center;
	padding: $padding--normal;
	clear: both;

	// Tablet and up
	@media screen and (min-width: $breakpoint--tablet)
	{
		text-align: right;
	}

}

.basket__action__secondary {
	
	// Tablet and up
	@media screen and (min-width: $breakpoint--tablet)
	{
		float: left;
	}

}

.basket__action__primary {

	// Tablet and up
	@media screen and (min-width: $breakpoint--tablet)
	{
		float: right;
	}

}

.basket__action__link {

	display: block;
	margin-bottom: $padding--half;

	// Tablet and up
	@media screen and (min-width: $breakpoint--tablet)
	{
		display: inline-block;	
		margin-bottom: 0;	
	}

}

.basket__items {

	// Default mobile styles
	display: block;

	// Tablet and up
	@media screen and (min-width: $breakpoint--tablet)
	{
		width: 100%;
	}

}

.basket__item {

	// Default mobile styles
	border: 2px solid $color--lighter;
	padding: $padding--normal;
	margin: $padding--normal;

	// Tablet and up
	@media screen and (min-width: $breakpoint--tablet)
	{
		width: 100%;		
		border: 0;
		padding: 0;
		margin: 0;
		clear: both;
		border-bottom: 2px solid $color--lighter;
	}

}

.basket__item__field {

	@media screen and (min-width: $breakpoint--tablet)
	{
		padding: $padding--normal;
		vertical-align: top;
	}

}

.basket__item__name {

	// Default mobile styles
	font-weight: $font__weight--bold;
	font-size: $font__size--normal*1.2;

	// Tablet and up
	@media screen and (min-width: $breakpoint--tablet)
	{
		float: left;
		text-align: left;
		font-size: $font__size--normal;
	}

}

.basket__item__description {

	// Default mobile styles
	color: $color--light;
	font-weight: normal;

	// Tablet and up
	@media screen and (min-width: $breakpoint--tablet)
	{
		text-align: left;
	}

}

.basket__item__quantity {

}

.basket__item__price {

	// Default mobile styles
	font-size: $font__size--normal * 1.2;

	// Tablet and up
	@media screen and (min-width: $breakpoint--tablet)
	{
		float: right; 
		font-size: $font__size--normal * 1.5;
		text-align: right;
	}

}

.basket__item__actions {

	// Default mobile styles
	text-align: center;
	margin: $padding--normal;

	@media screen and (min-width: $breakpoint--tablet)
	{
		float: right;
		text-align:right;
		margin: 0;
	}

}

.basket__item__action {

	// Default mobile styles
	display: inline-block;

	@media screen and (min-width: $breakpoint--tablet)
	{

	}

}

.basket__item__action__link {

	display: inline-block;
	margin: 4px;
	padding: 4px;
	background: $color--lighter;
	text-decoration: none;
	color: $color--text;
	font-size: $font__size--normal * 0.9;

	&:hover {
		background: $color--primary;
		color: $color--lighterest;
		cursor: pointer;
	}

}
