@charset "UTF-8";
/// <reference path="../barnsley-council.scss" />

/**
 * GRID
 * 
 *
 */





/*------------------------------------*\
	#SCAFFOLD
\*------------------------------------*/

/*div*/.grid {

    background-color: $color--lightest;

}

/*div*/.grid--fill {

	@media screen and (min-width: $breakpoint--desktop) {
		
		& .grid__row {
			width: 100%;
			display: table;
		}

		& .grid__column {
			display: table-cell;
		}
	
	}
}

/*div*/.grid__section {

}

/*div*/.grid__row {

	clear: both;
	vertical-align: top;

}

/*div*/.grid__row--bordered .grid__column+.grid__column {

    border-top: 1px solid $color--lighter;

    @media screen and (min-width: $breakpoint--desktop) {

        border-top: 0;
	    border-left: 1px solid $color--lighter;		

    }

}

.grid__row--ruled {
    
    border-top: $padding--half solid $color--primary;

}

/*div*/.grid__column {

	display: block;
	vertical-align: top;
	
	@media screen and (min-width: $breakpoint--desktop) {

		display: inline-block;

	}

}

@for $i from 1 to 13
{

	.grid__column--#{$i}
	{

		width: 100%;

		@media screen and (min-width: $breakpoint--desktop) {

			width: ($i / 12) * 100%;

		}

	}

}