@charset "UTF-8";
/// <reference path="../barnsley-council.scss" />

/**
 * SKIPLINK
 * 
 * Covers the search field and button that triggers it. This component is used
 * in a couple of different places, including the header
 *
 */
/// <reference path="../barnsley-council.scss" />





/*------------------------------------*\
    #SCAFFOLD
\*------------------------------------*/

.skiplink {

    position:absolute;
    left:-999em;

}

.skiplink:focus {

    position:static;

}