@charset "UTF-8";
/// <reference path="../barnsley-council.scss" />

/**
 *
 * UI LIST
 * 
 * To be determined.
 *
 */





/*------------------------------------*\
    #TBD
\*------------------------------------*/

/**
 * To be determined.
 */

/*ul*/.ui-list {

    list-style: none;
    margin: 0;
    padding: 0;

}