@charset "UTF-8";
/// <reference path="../barnsley-council.scss" />

/**
 * IMAGES
 * 
 *
 */





/*------------------------------------*\
    #SCAFFOLD
\*------------------------------------*/

/*img*/.image {

    // Default mobile styles   
    width: 100%;    
	display: block;
	
    // Desktop and up styles
    @media screen and (min-width: $breakpoint--desktop) {
   
    }

}

/*div*/.image--fill {

	// Default mobile styles
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;

}