@charset "UTF-8";
/// <reference path="../barnsley-council.scss" />

/**
 *
 * BREAKPOINTS
 *
 * To be determined.
 *
 **
 *
 * CONTENTS
 * TBD..................To be determined.
 *
 */





/*------------------------------------*\
    #TBD
\*------------------------------------*/

/**
 * To be determined.
 */

$breakpoint--tablet: 768px !default;
$breakpoint--desktop: 1140px !default;

$breakpoint--md: 768px !default;
$breakpoint--lg: 1140px !default;