---
layout: page
title: Barnsley Council Design Guide
usage:
---

<div class="home">

    {% for post in site.posts %}
    <div class="post">

      <header class="post-header">
        <h1 class="post-title">{{ post.title }}</h1>
        <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</p>
      </header>

      <article class="post-content">
        {{ post.content }}
      </article>

    </div>
    {% endfor %}

<div class="container meta-content">  <a class="meta-content__link" href="{{ "/feed.xml" | prepend: site.baseurl }}">Subscribe via RSS</a></p>
</div>

</div>
