    <header role="banner">
        <div class="container container--screen ">
            <div class="masthead container--float">
                <div class="logo masthead__logo">
                    <h1 class="logo__heading">
                        <a class="logo__link" href="{{ site.baseurl }}/">
                            {{ site.title }}
                        </a>                
                    </h1>
                </div>      
                <!-- nav 
                  {% for page in site.pages %}
                    {% if page.title %}
                      <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                    {% endif %}
                  {% endfor %}
                -->      
                <p class="masthead__strapline">
                    Working together for a brighter future, a better Barnsley
                </p>
            </div>
        </div>        
    </header>
