---
layout: default
title: Barnsley Council Design Guide
---

<div class="documentation__panel">

<main class="documentation__content">

  <header class="post-header">
    <h1 class="documentation__heading">{{ page.title }}</h1>
    <span class="documentation__subheading">{{ page.usage }}</span>
  </header>

  <aside class="meta container--float">

  	<dl class="meta-data">
  		
  		{% if page.status %}
		<dt>Status</dt>
		<dd>{{ page.status }}</dd>
		{% endif %}

		{% if page.scss %}
  		<dt>SCSS</dt>
  		<dd><a href="https://github.com/BarnsleyCouncil/design-guide/blob/gh-pages/_sass/{{ page.scss }}">{{ page.scss }}</a></dd>
  		{% endif %}

		{% if page.js %}
  		<dt>Javascript</dt>
  		<dd><a href="https://github.com/BarnsleyCouncil/design-guide/blob/gh-pages/scripts/{{ page.js }}">{{ page.js }}</a></dd>
  		{% endif %}

  	</dl>

  </aside>

  <article class="post-content">
    {{ content }}
  </article>

</main>

<nav class="documentation__menu">

		<section class="documentation__category">
		    <h2 class="documentation__category__heading">Basics</h2>
		    <ul class="ui-list">
		    {% for post in site.about %}
		      <li class="documentation__category__item">		        
		          <a class="documentation__category__link" href="{{ post.url | prepend: site.baseurl }}">	{{ post.title }}
		          </a>
		      </li>
		    {% endfor %}
		    </ul>
	  	</section>

	  	<section class="documentation__category">
		    <h2 class="documentation__category__heading">Copywriting</h2>
		    <ul class="ui-list">		    
		    {% assign sortedPosts = site.copywriting | sort: 'order' %}
		    {% for post in sortedPosts %}
		      <li class="documentation__category__item">		        
		          <a class="documentation__category__link" href="{{ post.url | prepend: site.baseurl }}">	{{ post.title }}
		          </a>
		      </li>
		    {% endfor %}
		    </ul>
	  	</section>
	  
		<section class="documentation__category">
		    <h2 class="documentation__category__heading">Foundations</h2>
		    <ul class="ui-list">
		    {% for post in site.foundations %}
		      <li class="documentation__category__item">		        
		          <a class="documentation__category__link" href="{{ post.url | prepend: site.baseurl }}">	{{ post.title }}
		          </a>
		      </li>
		    {% endfor %}
		    </ul>
	  	</section>
	  
		<section class="documentation__category">
		    <h2 class="documentation__category__heading">Objects</h2>
		    <ul class="ui-list">
		    {% for post in site.objects %}
		      <li class="documentation__category__item">		        
		          <a class="documentation__category__link" href="{{ post.url | prepend: site.baseurl }}">	{{ post.title }}
		          </a>
		      </li>
		    {% endfor %}
		    </ul>
	  	</section>

		<section class="documentation__category">
		    <h2 class="documentation__category__heading">Components</h2>
		    <ul class="ui-list">
		    {% for post in site.components %}
		      <li class="documentation__category__item">		        
		          <a class="documentation__category__link" href="{{ post.url | prepend: site.baseurl }}">	{{ post.title }}
		          </a>
		      </li>
		    {% endfor %}
		    </ul>
	  	</section>

		<section class="documentation__category">
		    <h2 class="documentation__category__heading">Templates</h2>
		    <ul class="ui-list">
		    {% for post in site.templates %}
		      <li class="documentation__category__item">		        
		          <a class="documentation__category__link" href="{{ post.url | prepend: site.baseurl }}">	{{ post.title }}
		          </a>
		      </li>
		    {% endfor %}
		    </ul>
	  	</section>
</nav>

</div>